
.btn1{
  background-color:green;
  margin: 2px;
  padding: 10px;
  border-radius: 5px;
  height: 30px;
  width: 50px;
  cursor: pointer;
}


.btn2{
  cursor: pointer;
  background-color: yellow;
  margin: 2px;
  padding: 10px;
  border-radius: 5px;
  height: 30px;
  width: 50px;

}

.head{
  background-color: blue;
  color: cornsilk;
  padding: 10px;
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.inp{
  background-color: papayawhip;
  color: black;
  border-radius: 2px;
  height: 25px;
  -webkit-appearance: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 500px auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.check{
    list-style:none;
    text-decoration: none;
    color: black;
    background-color: chartreuse;
}
.btn3{
  background-color: rgb(255, 0, 0);
  margin: 2px;
  padding: 10px;
  border-radius: 5px;
  height: 30px;
  width: 58px;
  cursor: pointer;

}
.cancel{
  padding: 5px;
  cursor: pointer;
  
}
.image{
    width: 300px;
    height: 200px;
}
